---
layout: main
---

{% for post in paginator.posts %}
{% if post.type == "about" %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title | markdownify}}</a></h2>
  {% if post.description %}  
    <p>{{ post.description | markdownify }}</p>
  {% endif %}
  </div>
</article>
{% endif %}
{% endfor %}

<h1 class="page-section-header">Research</h1>

{% for post in paginator.posts %}
{% if post.type == "research" %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title | markdownify}}</a></h2>
    <!-- <p>{{ post.content | strip_html | truncatewords: 15 }}</p> -->
    <p>{{ post.description | markdownify }}</p>
    <!-- <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span> -->
    <!-- <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span> -->
  </div>
</article>
{% endif %}
{% endfor %}

<!-- <h1 class="page-section-header">Articles</h1>

{% for post in paginator.posts %}
{% if post.type == "article" %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title | markdownify}}</a></h2>
    <p>{{ post.description | markdownify }}</p>
  </div>
</article>
{% endif %}
{% endfor %} -->

<h1 class="page-section-header">Data Science Projects</h1>

{% for post in paginator.posts %}
{% if post.type == "project" or post.type == "article" %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title | markdownify}}</a></h2>
    <p>{{ post.description | markdownify }}</p>
  </div>
</article>
{% endif %}
{% endfor %}

{% include pagination.html %}
